.bg-blue{background-color:#d1e7e8}
.bg-faded-white{background:rgba(255,255,255,0.5)}
.bg-off-white,.clickable-box{background:#f5f5f5}
.hover-bg-white:hover,.clickable-box:hover{background:#fff}
.bg-faded-blue{background:rgba(0,20,64,0.5)}
.red{color:#dc4e48}
.yellow{color:#b92}
.grey{color:#999}
html,body{color:#333332;padding:0;margin:0;font-size:100%;font-family:'proxima-nova','Helvetica Neue',Calibri,'Droid Sans',Helvetica,Arial,sans-serif;background:#f3f3f3 #00f;line-height:normal}
ul,ol{list-style:none}
ul,ol,p{margin:0;padding:0}
#content{position:absolute;top:0;left:150px;right:0;bottom:0;-webkit-box-shadow:0 0 10px #000;box-shadow:0 0 10px #000}
.no-sidebar #content{left:0}
.no-sidebar #navigation{display:none}
#main-section{position:absolute;top:52px;left:0;right:0;bottom:0}
.window{position:absolute;top:0;left:0;right:0;bottom:0}
a,.fake_link{color:#f27405;text-decoration:none;cursor:pointer;}
a:hover,.fake_link:hover{color:#bd4f00}
.nav{zoom:1;list-style:none;padding:0;margin:0;}
.nav:before,.nav:after{content:"";display:table}
.nav:after{clear:both}
.nav li{float:left;-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;margin-left:2px;margin-right:2px;}
.nav li:hover{background-color:#d9d7d7}
.nav li.active{border:1px solid #d9d7d7;border-bottom:none;background:#fff;}
.nav li.active a,.nav li.active .fake_link,.nav li.active.fake_link{color:#333;text-decoration:none;cursor:default}
.nav a,.nav .fake_link{padding:5px 15px}
.popup-absolute{position:absolute;top:20px;left:10px;right:10px;text-align:center;z-index:100}
.popover{font-family:'proxima-nova','Helvetica Neue',Calibri,'Droid Sans',Helvetica,Arial,sans-serif;}
.popover .popover-title{font-size:16px}
.popover .popover-content{font-size:14px}
.loading-container{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.7);color:#fff;font-size:4em;text-align:center;z-index:99;display:table;width:100%;height:100%}
.loading-message{display:table-cell;vertical-align:middle}
.team-pbv{font-size:.75em}
.team-tier{font-size:.75em}
.monospace{font-family:"Monaco",monospace}
abbr{border-bottom:1px dotted #333}
.italic{font-style:italic}
.z1{z-index:1}
.z2{z-index:2}
.z3{z-index:3}
.m1{margin:10px}
.p1{padding:10px}
.m2{margin:20px}
.p2{padding:20px}
.m3{margin:30px}
.p3{padding:30px}
.m4{margin:40px}
.p4{padding:40px}
.ml1{margin-left:10px}
.mr1{margin-right:10px}
.mt1{margin-top:10px}
.mb1{margin-bottom:10px}
.pl1{padding-left:10px}
.pr1{padding-right:10px}
.pt1{padding-top:10px}
.pb1{padding-bottom:10px}
.ml2{margin-left:20px}
.mr2{margin-right:20px}
.mt2{margin-top:20px}
.mb2{margin-bottom:20px}
.pl2{padding-left:20px}
.pr2{padding-right:20px}
.pt2{padding-top:20px}
.pb2{padding-bottom:20px}
.ml3{margin-left:30px}
.mr3{margin-right:30px}
.mt3{margin-top:30px}
.mb3{margin-bottom:30px}
.pl3{padding-left:30px}
.pr3{padding-right:30px}
.pt3{padding-top:30px}
.pb3{padding-bottom:30px}
.ml4{margin-left:40px}
.mr4{margin-right:40px}
.mt4{margin-top:40px}
.mb4{margin-bottom:40px}
.pl4{padding-left:40px}
.pr4{padding-right:40px}
.pt4{padding-top:40px}
.pb4{padding-bottom:40px}
.mt-header{margin-top:52px}
.left{float:left}
.right{float:right}
.center{text-align:center}
.align-left{text-align:left}
.align-right{text-align:right}
.flex-center{display:-webkit-box;display:-moz-box;display:-ms-box;display:-webkit-flex;display:box;display:flex;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-box-pack:center;-webkit-justify-content:center;justify-content:center}
.flex-column{-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-ms-box-orient:vertical;-webkit-flex-direction:column;flex-direction:column}
.hidden{display:none}
.absolute{position:absolute}
.fill{position:absolute;top:0;left:0;bottom:0;right:0}
.fill-left{position:absolute;top:0;left:0;bottom:0}
.fill-right{position:absolute;top:0;right:0;bottom:0}
.relative{position:relative}
.rounded,.clickable-box{-webkit-border-radius:3px;border-radius:3px}
.border,.clickable-box{border:1px solid #ddd}
.block{display:block}
.inline-block{display:inline-block}
.inline{display:inline}
.box-shadow,.clickable-box{-webkit-box-shadow:1px 2px 0 rgba(0,0,0,0.2);box-shadow:1px 2px 0 rgba(0,0,0,0.2)}
.tiny-type{font-size:.75em}
#header{height:52px;line-height:52px;width:100%;background:#38342b;z-index:10;position:absolute;}
#header ul{margin:0}
#header .icon{position:relative;top:3px;font-size:20px}
#main-nav{padding:0 18px}
#main-nav,#header li{line-height:42px}
#logo{float:left;width:120px;margin-right:15px}
#logo img{position:relative;z-index:100;top:3px}
#sections{margin-left:30px;margin-right:120px;visibility:visible}
#leftmenu{display:none}
#leftmenu a{color:#fff;padding:5px;margin-left:15px;}
#leftmenu a:hover{-webkit-border-radius:5px;border-radius:5px;background:#d94e47;text-decoration:none}
#rightmenu{margin-left:-40px}
nav ul{list-style:none;font-size:.95em}
nav li{display:block;float:left;text-align:left}
nav a{display:block;padding-left:.75em;padding-right:.75em;color:#fff;text-decoration:none}
nav a:hover,nav li:hover{background:#d94e47;color:#6c2724;text-decoration:none}
#sub-nav{height:10px;background:#d94e47;z-index:6;position:absolute;bottom:0;left:0;right:0}
.spinner-anim{display:inline-block;-webkit-animation:anim-rotate 1s infinite linear;-moz-animation:anim-rotate 1s infinite linear;-o-animation:anim-rotate 1s infinite linear;-ms-animation:anim-rotate 1s infinite linear;animation:anim-rotate 1s infinite linear}
.spinner-anim.hidden{display:none}
@-moz-keyframes anim-rotate{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}
}@-webkit-keyframes anim-rotate{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}
}@-o-keyframes anim-rotate{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}
}@-ms-keyframes anim-rotate{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}
}@keyframes anim-rotate{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}
}.button{zoom:1;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f7f7f7), color-stop(1, #c6c6c6));background:-webkit-linear-gradient(top, #f7f7f7 0, #c6c6c6 100%);background:-moz-linear-gradient(top, #f7f7f7 0, #c6c6c6 100%);background:-o-linear-gradient(top, #f7f7f7 0, #c6c6c6 100%);background:-ms-linear-gradient(top, #f7f7f7 0, #c6c6c6 100%);background:linear-gradient(top, #f7f7f7 0, #c6c6c6 100%);border:1px solid #7c7c7c;border-top-color:rgba(0,0,0,0.1);border-left-color:rgba(0,0,0,0.2);border-right-color:rgba(0,0,0,0.2);border-bottom-color:rgba(0,0,0,0.3);color:#454545;display:inline-block;height:32px;line-height:32px;-webkit-border-radius:4px;border-radius:4px;margin-bottom:6px;padding:0 10px;cursor:pointer;color:#333;text-shadow:0 -1px 0 rgba(255,255,255,0.25);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25),0 1px 2px rgba(0,0,0,0.25);box-shadow:inset 0 1px 0 rgba(255,255,255,0.25),0 1px 2px rgba(0,0,0,0.25);position:relative;}
.button:before,.button:after{content:"";display:table}
.button:after{clear:both}
.button:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f9f9f9), color-stop(1, #f7f7f7));background:-webkit-linear-gradient(top, #f9f9f9 0, #f7f7f7 100%);background:-moz-linear-gradient(top, #f9f9f9 0, #f7f7f7 100%);background:-o-linear-gradient(top, #f9f9f9 0, #f7f7f7 100%);background:-ms-linear-gradient(top, #f9f9f9 0, #f7f7f7 100%);background:linear-gradient(top, #f9f9f9 0, #f7f7f7 100%);color:#6a6a6a;text-shadow:0 -1px 0 rgba(255,255,255,0.1)}
.button:active,.button.pressed{color:#232323;text-shadow:none;border-color:#636363}
.button.pressed{background:#7c7c7c}
.button:active{background:#636363}
.button.block{display:block}
.button:hover{-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.125),0 1px 2px rgba(0,0,0,0.125);box-shadow:inset 0 1px 0 rgba(255,255,255,0.125),0 1px 2px rgba(0,0,0,0.125)}
.button .main_text{font-family:"PT Sans Narrow","Helvetica Neue",sans-serif;font-weight:700;float:left}
.button .meta_info{font-size:12px;float:right;font-family:"Helvetica Neue",sans-serif}
.button.big{font-size:1.5em;height:3em;line-height:3em;text-align:center;}
.button.big .main_text{float:none}
.button.big .meta_info{position:absolute;top:0;right:1em}
.button.button_blue{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #06c), color-stop(1, #04c));background:-webkit-linear-gradient(top, #06c 0, #04c 100%);background:-moz-linear-gradient(top, #06c 0, #04c 100%);background:-o-linear-gradient(top, #06c 0, #04c 100%);background:-ms-linear-gradient(top, #06c 0, #04c 100%);background:linear-gradient(top, #06c 0, #04c 100%);text-shadow:0 -1px rgba(0,0,0,0.3);color:#fff;}
.button.button_blue:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #08c), color-stop(1, #06c));background:-webkit-linear-gradient(top, #08c 0, #06c 100%);background:-moz-linear-gradient(top, #08c 0, #06c 100%);background:-o-linear-gradient(top, #08c 0, #06c 100%);background:-ms-linear-gradient(top, #08c 0, #06c 100%);background:linear-gradient(top, #08c 0, #06c 100%)}
.button.button_red{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #c60), color-stop(1, #c40));background:-webkit-linear-gradient(top, #c60 0, #c40 100%);background:-moz-linear-gradient(top, #c60 0, #c40 100%);background:-o-linear-gradient(top, #c60 0, #c40 100%);background:-ms-linear-gradient(top, #c60 0, #c40 100%);background:linear-gradient(top, #c60 0, #c40 100%);text-shadow:0 -1px rgba(0,0,0,0.3);color:#fff;}
.button.button_red:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #c80), color-stop(1, #c60));background:-webkit-linear-gradient(top, #c80 0, #c60 100%);background:-moz-linear-gradient(top, #c80 0, #c60 100%);background:-o-linear-gradient(top, #c80 0, #c60 100%);background:-ms-linear-gradient(top, #c80 0, #c60 100%);background:linear-gradient(top, #c80 0, #c60 100%)}
.button.normal{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #d4d2bd), color-stop(1, #b4b18c));background:-webkit-linear-gradient(top, #d4d2bd 0, #b4b18c 100%);background:-moz-linear-gradient(top, #d4d2bd 0, #b4b18c 100%);background:-o-linear-gradient(top, #d4d2bd 0, #b4b18c 100%);background:-ms-linear-gradient(top, #d4d2bd 0, #b4b18c 100%);background:linear-gradient(top, #d4d2bd 0, #b4b18c 100%);border:1px solid #79764f;border-top-color:rgba(0,0,0,0.1);border-left-color:rgba(0,0,0,0.2);border-right-color:rgba(0,0,0,0.2);border-bottom-color:rgba(0,0,0,0.3);color:#44422c;}
.button.normal:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #e1e0d1), color-stop(1, #d4d2bd));background:-webkit-linear-gradient(top, #e1e0d1 0, #d4d2bd 100%);background:-moz-linear-gradient(top, #e1e0d1 0, #d4d2bd 100%);background:-o-linear-gradient(top, #e1e0d1 0, #d4d2bd 100%);background:-ms-linear-gradient(top, #e1e0d1 0, #d4d2bd 100%);background:linear-gradient(top, #e1e0d1 0, #d4d2bd 100%);color:#74714b;text-shadow:0 -1px 0 rgba(255,255,255,0.1)}
.button.normal:active,.button.normal.pressed{color:#222116;text-shadow:none;border-color:#615e3f}
.button.normal.pressed{background:#79764f}
.button.normal:active{background:#615e3f}
.button.fire{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f1c2a1), color-stop(1, #e7955b));background:-webkit-linear-gradient(top, #f1c2a1 0, #e7955b 100%);background:-moz-linear-gradient(top, #f1c2a1 0, #e7955b 100%);background:-o-linear-gradient(top, #f1c2a1 0, #e7955b 100%);background:-ms-linear-gradient(top, #f1c2a1 0, #e7955b 100%);background:linear-gradient(top, #f1c2a1 0, #e7955b 100%);border:1px solid #af571a;border-top-color:rgba(0,0,0,0.1);border-left-color:rgba(0,0,0,0.2);border-right-color:rgba(0,0,0,0.2);border-bottom-color:rgba(0,0,0,0.3);color:#62310f;}
.button.fire:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f5d4bd), color-stop(1, #f1c2a1));background:-webkit-linear-gradient(top, #f5d4bd 0, #f1c2a1 100%);background:-moz-linear-gradient(top, #f5d4bd 0, #f1c2a1 100%);background:-o-linear-gradient(top, #f5d4bd 0, #f1c2a1 100%);background:-ms-linear-gradient(top, #f5d4bd 0, #f1c2a1 100%);background:linear-gradient(top, #f5d4bd 0, #f1c2a1 100%);color:#a7531a;text-shadow:0 -1px 0 rgba(255,255,255,0.1)}
.button.fire:active,.button.fire.pressed{color:#311908;text-shadow:none;border-color:#8c4615}
.button.fire.pressed{background:#af571a}
.button.fire:active{background:#8c4615}
.button.water{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #b4cbf6), color-stop(1, #6896ed));background:-webkit-linear-gradient(top, #b4cbf6 0, #6896ed 100%);background:-moz-linear-gradient(top, #b4cbf6 0, #6896ed 100%);background:-o-linear-gradient(top, #b4cbf6 0, #6896ed 100%);background:-ms-linear-gradient(top, #b4cbf6 0, #6896ed 100%);background:linear-gradient(top, #b4cbf6 0, #6896ed 100%);border:1px solid #1751be;border-top-color:rgba(0,0,0,0.1);border-left-color:rgba(0,0,0,0.2);border-right-color:rgba(0,0,0,0.2);border-bottom-color:rgba(0,0,0,0.3);color:#0d2d6a;}
.button.water:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #cbdbf9), color-stop(1, #b4cbf6));background:-webkit-linear-gradient(top, #cbdbf9 0, #b4cbf6 100%);background:-moz-linear-gradient(top, #cbdbf9 0, #b4cbf6 100%);background:-o-linear-gradient(top, #cbdbf9 0, #b4cbf6 100%);background:-ms-linear-gradient(top, #cbdbf9 0, #b4cbf6 100%);background:linear-gradient(top, #cbdbf9 0, #b4cbf6 100%);color:#164bb0;text-shadow:0 -1px 0 rgba(255,255,255,0.1)}
.button.water:active,.button.water.pressed{color:#061635;text-shadow:none;border-color:#124198}
.button.water.pressed{background:#1751be}
.button.water:active{background:#124198}
.button.electric{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f8e4a1), color-stop(1, #f2ce55));background:-webkit-linear-gradient(top, #f8e4a1 0, #f2ce55 100%);background:-moz-linear-gradient(top, #f8e4a1 0, #f2ce55 100%);background:-o-linear-gradient(top, #f8e4a1 0, #f2ce55 100%);background:-ms-linear-gradient(top, #f8e4a1 0, #f2ce55 100%);background:linear-gradient(top, #f8e4a1 0, #f2ce55 100%);border:1px solid #be960e;border-top-color:rgba(0,0,0,0.1);border-left-color:rgba(0,0,0,0.2);border-right-color:rgba(0,0,0,0.2);border-bottom-color:rgba(0,0,0,0.3);color:#6a5408;}
.button.electric:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #faecbd), color-stop(1, #f8e4a1));background:-webkit-linear-gradient(top, #faecbd 0, #f8e4a1 100%);background:-moz-linear-gradient(top, #faecbd 0, #f8e4a1 100%);background:-o-linear-gradient(top, #faecbd 0, #f8e4a1 100%);background:-ms-linear-gradient(top, #faecbd 0, #f8e4a1 100%);background:linear-gradient(top, #faecbd 0, #f8e4a1 100%);color:#b48e0e;text-shadow:0 -1px 0 rgba(255,255,255,0.1)}
.button.electric:active,.button.electric.pressed{color:#352a04;text-shadow:none;border-color:#98780b}
.button.electric.pressed{background:#be960e}
.button.electric:active{background:#98780b}
.button.grass{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #c7dfa9), color-stop(1, #a2ca70));background:-webkit-linear-gradient(top, #c7dfa9 0, #a2ca70 100%);background:-moz-linear-gradient(top, #c7dfa9 0, #a2ca70 100%);background:-o-linear-gradient(top, #c7dfa9 0, #a2ca70 100%);background:-ms-linear-gradient(top, #c7dfa9 0, #a2ca70 100%);background:linear-gradient(top, #c7dfa9 0, #a2ca70 100%);border:1px solid #678f35;border-top-color:rgba(0,0,0,0.1);border-left-color:rgba(0,0,0,0.2);border-right-color:rgba(0,0,0,0.2);border-bottom-color:rgba(0,0,0,0.3);color:#39501d;}
.button.grass:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #d8e9c3), color-stop(1, #c7dfa9));background:-webkit-linear-gradient(top, #d8e9c3 0, #c7dfa9 100%);background:-moz-linear-gradient(top, #d8e9c3 0, #c7dfa9 100%);background:-o-linear-gradient(top, #d8e9c3 0, #c7dfa9 100%);background:-ms-linear-gradient(top, #d8e9c3 0, #c7dfa9 100%);background:linear-gradient(top, #d8e9c3 0, #c7dfa9 100%);color:#638b32;text-shadow:0 -1px 0 rgba(255,255,255,0.1)}
.button.grass:active,.button.grass.pressed{color:#1c280e;text-shadow:none;border-color:#52722a}
.button.grass.pressed{background:#678f35}
.button.grass:active{background:#52722a}
.button.ice{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #d1e7e8), color-stop(1, #96c8cb));background:-webkit-linear-gradient(top, #d1e7e8 0, #96c8cb 100%);background:-moz-linear-gradient(top, #d1e7e8 0, #96c8cb 100%);background:-o-linear-gradient(top, #d1e7e8 0, #96c8cb 100%);background:-ms-linear-gradient(top, #d1e7e8 0, #96c8cb 100%);background:linear-gradient(top, #d1e7e8 0, #96c8cb 100%);border:1px solid #4a9093;border-top-color:rgba(0,0,0,0.1);border-left-color:rgba(0,0,0,0.2);border-right-color:rgba(0,0,0,0.2);border-bottom-color:rgba(0,0,0,0.3);color:#295153;}
.button.ice:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #dfeeef), color-stop(1, #d1e7e8));background:-webkit-linear-gradient(top, #dfeeef 0, #d1e7e8 100%);background:-moz-linear-gradient(top, #dfeeef 0, #d1e7e8 100%);background:-o-linear-gradient(top, #dfeeef 0, #d1e7e8 100%);background:-ms-linear-gradient(top, #dfeeef 0, #d1e7e8 100%);background:linear-gradient(top, #dfeeef 0, #d1e7e8 100%);color:#438387;text-shadow:0 -1px 0 rgba(255,255,255,0.1)}
.button.ice:active,.button.ice.pressed{color:#15292a;text-shadow:none;border-color:#3b7376}
.button.ice.pressed{background:#4a9093}
.button.ice:active{background:#3b7376}
.button.fighting{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #de9b95), color-stop(1, #cc665c));background:-webkit-linear-gradient(top, #de9b95 0, #cc665c 100%);background:-moz-linear-gradient(top, #de9b95 0, #cc665c 100%);background:-o-linear-gradient(top, #de9b95 0, #cc665c 100%);background:-ms-linear-gradient(top, #de9b95 0, #cc665c 100%);background:linear-gradient(top, #de9b95 0, #cc665c 100%);border:1px solid #8d342c;border-top-color:rgba(0,0,0,0.1);border-left-color:rgba(0,0,0,0.2);border-right-color:rgba(0,0,0,0.2);border-bottom-color:rgba(0,0,0,0.3);color:#4f1d18;}
.button.fighting:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #e8b9b5), color-stop(1, #de9b95));background:-webkit-linear-gradient(top, #e8b9b5 0, #de9b95 100%);background:-moz-linear-gradient(top, #e8b9b5 0, #de9b95 100%);background:-o-linear-gradient(top, #e8b9b5 0, #de9b95 100%);background:-ms-linear-gradient(top, #e8b9b5 0, #de9b95 100%);background:linear-gradient(top, #e8b9b5 0, #de9b95 100%);color:#8d342b;text-shadow:0 -1px 0 rgba(255,255,255,0.1)}
.button.fighting:active,.button.fighting.pressed{color:#280f0c;text-shadow:none;border-color:#712a23}
.button.fighting.pressed{background:#8d342c}
.button.fighting:active{background:#712a23}
.button.poison{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #caa7d1), color-stop(1, #ac76b7));background:-webkit-linear-gradient(top, #caa7d1 0, #ac76b7 100%);background:-moz-linear-gradient(top, #caa7d1 0, #ac76b7 100%);background:-o-linear-gradient(top, #caa7d1 0, #ac76b7 100%);background:-ms-linear-gradient(top, #caa7d1 0, #ac76b7 100%);background:linear-gradient(top, #caa7d1 0, #ac76b7 100%);border:1px solid #72417b;border-top-color:rgba(0,0,0,0.1);border-left-color:rgba(0,0,0,0.2);border-right-color:rgba(0,0,0,0.2);border-bottom-color:rgba(0,0,0,0.3);color:#402445;}
.button.poison:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #dac1df), color-stop(1, #caa7d1));background:-webkit-linear-gradient(top, #dac1df 0, #caa7d1 100%);background:-moz-linear-gradient(top, #dac1df 0, #caa7d1 100%);background:-o-linear-gradient(top, #dac1df 0, #caa7d1 100%);background:-ms-linear-gradient(top, #dac1df 0, #caa7d1 100%);background:linear-gradient(top, #dac1df 0, #caa7d1 100%);color:#71407a;text-shadow:0 -1px 0 rgba(255,255,255,0.1)}
.button.poison:active,.button.poison.pressed{color:#201223;text-shadow:none;border-color:#5b3462}
.button.poison.pressed{background:#72417b}
.button.poison:active{background:#5b3462}
.button.ground{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #eedfb7), color-stop(1, #dec173));background:-webkit-linear-gradient(top, #eedfb7 0, #dec173 100%);background:-moz-linear-gradient(top, #eedfb7 0, #dec173 100%);background:-o-linear-gradient(top, #eedfb7 0, #dec173 100%);background:-ms-linear-gradient(top, #eedfb7 0, #dec173 100%);background:linear-gradient(top, #eedfb7 0, #dec173 100%);border:1px solid #aa8728;border-top-color:rgba(0,0,0,0.1);border-left-color:rgba(0,0,0,0.2);border-right-color:rgba(0,0,0,0.2);border-bottom-color:rgba(0,0,0,0.3);color:#5f4c16;}
.button.ground:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f3e9cd), color-stop(1, #eedfb7));background:-webkit-linear-gradient(top, #f3e9cd 0, #eedfb7 100%);background:-moz-linear-gradient(top, #f3e9cd 0, #eedfb7 100%);background:-o-linear-gradient(top, #f3e9cd 0, #eedfb7 100%);background:-ms-linear-gradient(top, #f3e9cd 0, #eedfb7 100%);background:linear-gradient(top, #f3e9cd 0, #eedfb7 100%);color:#9f7f25;text-shadow:0 -1px 0 rgba(255,255,255,0.1)}
.button.ground:active,.button.ground.pressed{color:#30260b;text-shadow:none;border-color:#886c20}
.button.ground.pressed{background:#aa8728}
.button.ground:active{background:#886c20}
.button.flying{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #d0cdf6), color-stop(1, #8881e8));background:-webkit-linear-gradient(top, #d0cdf6 0, #8881e8 100%);background:-moz-linear-gradient(top, #d0cdf6 0, #8881e8 100%);background:-o-linear-gradient(top, #d0cdf6 0, #8881e8 100%);background:-ms-linear-gradient(top, #d0cdf6 0, #8881e8 100%);background:linear-gradient(top, #d0cdf6 0, #8881e8 100%);border:1px solid #2e22bf;border-top-color:rgba(0,0,0,0.1);border-left-color:rgba(0,0,0,0.2);border-right-color:rgba(0,0,0,0.2);border-bottom-color:rgba(0,0,0,0.3);color:#1a136b;}
.button.flying:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #dedcf9), color-stop(1, #d0cdf6));background:-webkit-linear-gradient(top, #dedcf9 0, #d0cdf6 100%);background:-moz-linear-gradient(top, #dedcf9 0, #d0cdf6 100%);background:-o-linear-gradient(top, #dedcf9 0, #d0cdf6 100%);background:-ms-linear-gradient(top, #dedcf9 0, #d0cdf6 100%);background:linear-gradient(top, #dedcf9 0, #d0cdf6 100%);color:#2a1fac;text-shadow:0 -1px 0 rgba(255,255,255,0.1)}
.button.flying:active,.button.flying.pressed{color:#0d0a36;text-shadow:none;border-color:#251b99}
.button.flying.pressed{background:#2e22bf}
.button.flying:active{background:#251b99}
.button.psychic{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f0b4c5), color-stop(1, #e26e8f));background:-webkit-linear-gradient(top, #f0b4c5 0, #e26e8f 100%);background:-moz-linear-gradient(top, #f0b4c5 0, #e26e8f 100%);background:-o-linear-gradient(top, #f0b4c5 0, #e26e8f 100%);background:-ms-linear-gradient(top, #f0b4c5 0, #e26e8f 100%);background:linear-gradient(top, #f0b4c5 0, #e26e8f 100%);border:1px solid #af234b;border-top-color:rgba(0,0,0,0.1);border-left-color:rgba(0,0,0,0.2);border-right-color:rgba(0,0,0,0.2);border-bottom-color:rgba(0,0,0,0.3);color:#62142a;}
.button.psychic:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f5cbd6), color-stop(1, #f0b4c5));background:-webkit-linear-gradient(top, #f5cbd6 0, #f0b4c5 100%);background:-moz-linear-gradient(top, #f5cbd6 0, #f0b4c5 100%);background:-o-linear-gradient(top, #f5cbd6 0, #f0b4c5 100%);background:-ms-linear-gradient(top, #f5cbd6 0, #f0b4c5 100%);background:linear-gradient(top, #f5cbd6 0, #f0b4c5 100%);color:#a32146;text-shadow:0 -1px 0 rgba(255,255,255,0.1)}
.button.psychic:active,.button.psychic.pressed{color:#310a15;text-shadow:none;border-color:#8c1c3c}
.button.psychic.pressed{background:#af234b}
.button.psychic:active{background:#8c1c3c}
.button.bug{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #dfe28c), color-stop(1, #cfd352));background:-webkit-linear-gradient(top, #dfe28c 0, #cfd352 100%);background:-moz-linear-gradient(top, #dfe28c 0, #cfd352 100%);background:-o-linear-gradient(top, #dfe28c 0, #cfd352 100%);background:-ms-linear-gradient(top, #dfe28c 0, #cfd352 100%);background:linear-gradient(top, #dfe28c 0, #cfd352 100%);border:1px solid #8e9225;border-top-color:rgba(0,0,0,0.1);border-left-color:rgba(0,0,0,0.2);border-right-color:rgba(0,0,0,0.2);border-bottom-color:rgba(0,0,0,0.3);color:#505215;}
.button.bug:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #e9ebaf), color-stop(1, #dfe28c));background:-webkit-linear-gradient(top, #e9ebaf 0, #dfe28c 100%);background:-moz-linear-gradient(top, #e9ebaf 0, #dfe28c 100%);background:-o-linear-gradient(top, #e9ebaf 0, #dfe28c 100%);background:-ms-linear-gradient(top, #e9ebaf 0, #dfe28c 100%);background:linear-gradient(top, #e9ebaf 0, #dfe28c 100%);color:#8f9326;text-shadow:0 -1px 0 rgba(255,255,255,0.1)}
.button.bug:active,.button.bug.pressed{color:#28290a;text-shadow:none;border-color:#72751e}
.button.bug.pressed{background:#8e9225}
.button.bug:active{background:#72751e}
.button.rock{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #dccf9f), color-stop(1, #c8b367));background:-webkit-linear-gradient(top, #dccf9f 0, #c8b367 100%);background:-moz-linear-gradient(top, #dccf9f 0, #c8b367 100%);background:-o-linear-gradient(top, #dccf9f 0, #c8b367 100%);background:-ms-linear-gradient(top, #dccf9f 0, #c8b367 100%);background:linear-gradient(top, #dccf9f 0, #c8b367 100%);border:1px solid #8b7833;border-top-color:rgba(0,0,0,0.1);border-left-color:rgba(0,0,0,0.2);border-right-color:rgba(0,0,0,0.2);border-bottom-color:rgba(0,0,0,0.3);color:#4e431d;}
.button.rock:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #e7ddbc), color-stop(1, #dccf9f));background:-webkit-linear-gradient(top, #e7ddbc 0, #dccf9f 100%);background:-moz-linear-gradient(top, #e7ddbc 0, #dccf9f 100%);background:-o-linear-gradient(top, #e7ddbc 0, #dccf9f 100%);background:-ms-linear-gradient(top, #e7ddbc 0, #dccf9f 100%);background:linear-gradient(top, #e7ddbc 0, #dccf9f 100%);color:#897533;text-shadow:0 -1px 0 rgba(255,255,255,0.1)}
.button.rock:active,.button.rock.pressed{color:#27220e;text-shadow:none;border-color:#6f6029}
.button.rock.pressed{background:#8b7833}
.button.rock:active{background:#6f6029}
.button.ghost{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #b4aecc), color-stop(1, #8980af));background:-webkit-linear-gradient(top, #b4aecc 0, #8980af 100%);background:-moz-linear-gradient(top, #b4aecc 0, #8980af 100%);background:-o-linear-gradient(top, #b4aecc 0, #8980af 100%);background:-ms-linear-gradient(top, #b4aecc 0, #8980af 100%);background:linear-gradient(top, #b4aecc 0, #8980af 100%);border:1px solid #524974;border-top-color:rgba(0,0,0,0.1);border-left-color:rgba(0,0,0,0.2);border-right-color:rgba(0,0,0,0.2);border-bottom-color:rgba(0,0,0,0.3);color:#2e2941;}
.button.ghost:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #cbc6db), color-stop(1, #b4aecc));background:-webkit-linear-gradient(top, #cbc6db 0, #b4aecc 100%);background:-moz-linear-gradient(top, #cbc6db 0, #b4aecc 100%);background:-o-linear-gradient(top, #cbc6db 0, #b4aecc 100%);background:-ms-linear-gradient(top, #cbc6db 0, #b4aecc 100%);background:linear-gradient(top, #cbc6db 0, #b4aecc 100%);color:#514873;text-shadow:0 -1px 0 rgba(255,255,255,0.1)}
.button.ghost:active,.button.ghost.pressed{color:#171421;text-shadow:none;border-color:#423a5d}
.button.ghost.pressed{background:#524974}
.button.ghost:active{background:#423a5d}
.button.dragon{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #adacf8), color-stop(1, #605ff1));background:-webkit-linear-gradient(top, #adacf8 0, #605ff1 100%);background:-moz-linear-gradient(top, #adacf8 0, #605ff1 100%);background:-o-linear-gradient(top, #adacf8 0, #605ff1 100%);background:-ms-linear-gradient(top, #adacf8 0, #605ff1 100%);background:linear-gradient(top, #adacf8 0, #605ff1 100%);border:1px solid #1310c2;border-top-color:rgba(0,0,0,0.1);border-left-color:rgba(0,0,0,0.2);border-right-color:rgba(0,0,0,0.2);border-bottom-color:rgba(0,0,0,0.3);color:#0a096d;}
.button.dragon:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #c6c5fa), color-stop(1, #adacf8));background:-webkit-linear-gradient(top, #c6c5fa 0, #adacf8 100%);background:-moz-linear-gradient(top, #c6c5fa 0, #adacf8 100%);background:-o-linear-gradient(top, #c6c5fa 0, #adacf8 100%);background:-ms-linear-gradient(top, #c6c5fa 0, #adacf8 100%);background:linear-gradient(top, #c6c5fa 0, #adacf8 100%);color:#110fb5;text-shadow:0 -1px 0 rgba(255,255,255,0.1)}
.button.dragon:active,.button.dragon.pressed{color:#050437;text-shadow:none;border-color:#0f0d9b}
.button.dragon.pressed{background:#1310c2}
.button.dragon:active{background:#0f0d9b}
.button.dark{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #bba89b), color-stop(1, #9f8572));background:-webkit-linear-gradient(top, #bba89b 0, #9f8572 100%);background:-moz-linear-gradient(top, #bba89b 0, #9f8572 100%);background:-o-linear-gradient(top, #bba89b 0, #9f8572 100%);background:-ms-linear-gradient(top, #bba89b 0, #9f8572 100%);background:linear-gradient(top, #bba89b 0, #9f8572 100%);border:1px solid #665245;border-top-color:rgba(0,0,0,0.1);border-left-color:rgba(0,0,0,0.2);border-right-color:rgba(0,0,0,0.2);border-bottom-color:rgba(0,0,0,0.3);color:#392e27;}
.button.dark:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #cfc2b9), color-stop(1, #bba89b));background:-webkit-linear-gradient(top, #cfc2b9 0, #bba89b 100%);background:-moz-linear-gradient(top, #cfc2b9 0, #bba89b 100%);background:-o-linear-gradient(top, #cfc2b9 0, #bba89b 100%);background:-ms-linear-gradient(top, #cfc2b9 0, #bba89b 100%);background:linear-gradient(top, #cfc2b9 0, #bba89b 100%);color:#6a5649;text-shadow:0 -1px 0 rgba(255,255,255,0.1)}
.button.dark:active,.button.dark.pressed{color:#1c1714;text-shadow:none;border-color:#524237}
.button.dark.pressed{background:#665245}
.button.dark:active{background:#524237}
.button.steel{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #dbdce7), color-stop(1, #a5a8c3));background:-webkit-linear-gradient(top, #dbdce7 0, #a5a8c3 100%);background:-moz-linear-gradient(top, #dbdce7 0, #a5a8c3 100%);background:-o-linear-gradient(top, #dbdce7 0, #a5a8c3 100%);background:-ms-linear-gradient(top, #dbdce7 0, #a5a8c3 100%);background:linear-gradient(top, #dbdce7 0, #a5a8c3 100%);border:1px solid #5a5e87;border-top-color:rgba(0,0,0,0.1);border-left-color:rgba(0,0,0,0.2);border-right-color:rgba(0,0,0,0.2);border-bottom-color:rgba(0,0,0,0.3);color:#32344c;}
.button.steel:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #e6e7ee), color-stop(1, #dbdce7));background:-webkit-linear-gradient(top, #e6e7ee 0, #dbdce7 100%);background:-moz-linear-gradient(top, #e6e7ee 0, #dbdce7 100%);background:-o-linear-gradient(top, #e6e7ee 0, #dbdce7 100%);background:-ms-linear-gradient(top, #e6e7ee 0, #dbdce7 100%);background:linear-gradient(top, #e6e7ee 0, #dbdce7 100%);color:#50547a;text-shadow:0 -1px 0 rgba(255,255,255,0.1)}
.button.steel:active,.button.steel.pressed{color:#191a26;text-shadow:none;border-color:#484b6c}
.button.steel.pressed{background:#5a5e87}
.button.steel:active{background:#484b6c}
.button.fairy{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fbdafb), color-stop(1, #f285f2));background:-webkit-linear-gradient(top, #fbdafb 0, #f285f2 100%);background:-moz-linear-gradient(top, #fbdafb 0, #f285f2 100%);background:-o-linear-gradient(top, #fbdafb 0, #f285f2 100%);background:-ms-linear-gradient(top, #fbdafb 0, #f285f2 100%);background:linear-gradient(top, #fbdafb 0, #f285f2 100%);border:1px solid #d417d4;border-top-color:rgba(0,0,0,0.1);border-left-color:rgba(0,0,0,0.2);border-right-color:rgba(0,0,0,0.2);border-bottom-color:rgba(0,0,0,0.3);color:#770d77;}
.button.fairy:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fce5fc), color-stop(1, #fbdafb));background:-webkit-linear-gradient(top, #fce5fc 0, #fbdafb 100%);background:-moz-linear-gradient(top, #fce5fc 0, #fbdafb 100%);background:-o-linear-gradient(top, #fce5fc 0, #fbdafb 100%);background:-ms-linear-gradient(top, #fce5fc 0, #fbdafb 100%);background:linear-gradient(top, #fce5fc 0, #fbdafb 100%);color:#bb14bb;text-shadow:0 -1px 0 rgba(255,255,255,0.1)}
.button.fairy:active,.button.fairy.pressed{color:#3c073b;text-shadow:none;border-color:#aa12aa}
.button.fairy.pressed{background:#d417d4}
.button.fairy:active{background:#aa12aa}
.button.disabled,.button.disabled:hover{background:#333;border-color:#000;cursor:default;color:#666;text-shadow:none;-webkit-box-shadow:none;box-shadow:none}
.hover_info_moves .hover_info{width:196px;display:block;margin:0;}
.hover_info_moves .hover_info:first-child{-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0}
.hover_info_moves .hover_info:last-child{-webkit-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;border-top:none}
.hover_info_moves .hover_info:not(:first-child):not(:last-child){-webkit-border-radius:0;border-radius:0;border-top:none}
h1{font-family:"PT Sans Narrow","Helvetica Neue",sans-serif;font-size:2em;font-weight:700;line-height:50px;margin:0}
#header h1{text-transform:lowercase;margin:0 30px}
#navigation{position:absolute;top:0;left:0;bottom:0;width:150px;background:#44484e;font-size:.875em;overflow:hidden;}
#navigation .logo{display:block;margin:0;font-size:32px;color:rgba(255,255,255,0.8);text-shadow:0 1px 0 #333;text-align:center;height:52px;line-height:52px}
#navigation .logo:hover{cursor:pointer}
#navigation .nav{margin-bottom:1em;}
#navigation .nav a,#navigation .nav .fake_link{display:block;padding:4px 16px;line-height:1.5em;color:#ccd;border:none;background:none;float:none;margin:0;-webkit-border-radius:0;border-radius:0;}
#navigation .nav a:hover,#navigation .nav .fake_link:hover{background:#555a61;text-decoration:none;color:#fff}
#navigation h2{text-transform:uppercase;line-height:normal;margin:0;font-size:.929em;padding:4px 16px;letter-spacing:1px;color:#b1b5bb;background:#363a3e;text-shadow:0 1px 0 rgba(0,0,0,0.3);color:#777;border-bottom:1px solid #555;border-top:1px solid #111}
#navigation .nav_item{position:relative;}
#navigation .nav_item.active,#navigation .nav_item.active:hover{background:#d94e47;color:#fff;cursor:default}
#navigation .nav_item .nav_meta{position:absolute;right:0;font-size:.714em}
#navigation .nav_item .notifications,#navigation .nav_item .close{height:1.8207282913165268em;width:1.8207282913165268em;line-height:1.8207282913165268em;text-align:center;margin-top:.1em;margin-right:5px;float:left;opacity:1;-ms-filter:none;filter:none;font-size:1em;text-shadow:none}
#navigation .nav_item .notifications{-webkit-border-radius:4px;border-radius:4px;background:#a30;color:#fff}
#navigation .nav_item:hover .notifications{background:#b41}
#navigation .nav_item .close{background:#333;-webkit-border-radius:1em;border-radius:1em;color:#fff;cursor:pointer;}
#navigation .nav_item .close:hover{background:#555}
.user-info{float:right;margin:0 16px}
.team-dropdown{max-height:300px;overflow-y:auto;}
.team-dropdown .team-pbv{margin-top:-5px}
.dropdown li{border-bottom:1px solid #aaa}
.dropdown li:last-of-type{border:none !important}
.chat_window .chat{left:350px}
.chat{position:absolute;top:0;right:0;bottom:0;}
.chat.without_spectators .message_pane{right:0}
.chat.without_spectators .user_list{display:none}
.chat.without_chat_input .messages{bottom:0}
.chat.without_chat_input .chat_input_pane{display:none}
.user_list{position:absolute;top:0;right:0;bottom:0;width:25%;overflow-y:auto;}
.user_list p{padding:2px 6px;margin:0}
.user_list ul{margin:0;padding:0;list-style:none;}
.user_list ul li{padding:2px 6px;}
.user_list ul li:hover{background:#fb7}
.message_pane{position:absolute;top:0;left:0;right:25%;bottom:0;-webkit-box-shadow:0 0 5px rgba(0,8,16,0.2);box-shadow:0 0 5px rgba(0,8,16,0.2)}
.messages{overflow-y:auto;position:absolute;top:0;left:0;right:0;bottom:30px;border-left:1px solid rgba(0,0,0,0.2);border-right:1px solid rgba(0,0,0,0.2);background:#fff;word-wrap:break-word;}
.messages h2,.messages h3,.messages p{padding:0 16px 2px}
.messages p{font-size:.875em;text-rendering:optimizeLegibility;}
.messages p.move_message{font-size:1em;margin-top:10px}
.messages a.pokemon-link{color:inherit}
.messages .alert{margin:.75em 16px}
.chat_input_pane{position:absolute;width:100%;bottom:0;height:30px;}
.chat_input_pane .chat_input_wrapper{overflow:hidden}
.chat_input_pane .chat_input{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:2px solid #384035;padding:2px 6px;margin:0;width:100%;height:30px;-webkit-border-radius:2px;border-radius:2px;}
.chat_input_pane .chat_input:hover{border-color:#5d736b}
.chat_input_pane .chat_input:focus{border-color:#f27405;outline:none}
.chat_input_pane .chat_input_send{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:right;margin:0;height:30px}
.main_buttons{position:absolute;top:0;left:0;bottom:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:30px 30px 0 30px;width:350px;overflow:auto;}
.main_buttons .button{display:block;float:none;text-align:center;margin:0 auto}
.main_buttons p{margin:1em 0 0 0}
.section{width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:rgba(64,64,64,0.15);margin-bottom:15px;padding:8px;-webkit-border-radius:8px;border-radius:8px}
.select-team .team-pbv{margin-top:-2px}
.no-alt-label{margin-left:5px;color:#aaa}
.battle_window .chat{left:620px}
.battle{position:absolute;top:0;left:0;bottom:0;width:620px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:10px;}
.battle h2{font-size:.6875em;text-transform:uppercase;letter-spacing:1px;border-bottom:1px solid rgba(0,0,0,0.1);line-height:normal}
.battle .battle_container{position:relative;width:600px;height:300px;font-family:"PT Sans Narrow","Helvetica Neue",sans-serif;}
.battle .battle_container.battle_bg_0{background-image:url("../Sprites/battle/backgrounds/battle_bg.png");-webkit-background-size:cover;-moz-background-size:cover;background-size:cover}
.battle .battle_container.battle_bg_1{background-image:url("../Sprites/battle/backgrounds/battle_bg_1.png");-webkit-background-size:cover;-moz-background-size:cover;background-size:cover}
.battle .battle_container.battle_bg_2{background-image:url("../Sprites/battle/backgrounds/battle_bg_2.png");-webkit-background-size:cover;-moz-background-size:cover;background-size:cover}
.battle .battle_container.battle_bg_3{background-image:url("../Sprites/battle/backgrounds/battle_bg_3.png");-webkit-background-size:cover;-moz-background-size:cover;background-size:cover}
.battle .battle_container.battle_bg_4{background-image:url("../Sprites/battle/backgrounds/battle_bg_4.png");-webkit-background-size:cover;-moz-background-size:cover;background-size:cover}
.battle .battle_container.battle_bg_5{background-image:url("../Sprites/battle/backgrounds/battle_bg_5.png");-webkit-background-size:cover;-moz-background-size:cover;background-size:cover}
.battle .battle_user_info .pokemon_icons{margin:0 auto;width:80px;}
.battle .battle_user_info .pokemon_icons .icon_wrapper{width:40px;float:left;}
.battle .battle_user_info .pokemon_icons .icon_wrapper:nth-child(even){position:relative;top:6px}
.battle .battle_user_info .fill-left,.battle .battle_user_info .fill-right{width:100px}
.battle .battle_user_info .left{bottom:20px;left:0}
.battle .battle_user_info .right{top:20px;right:0}
.battle .battle_user_info .left,.battle .battle_user_info .right{position:absolute;width:100px;color:#fff;text-align:center;text-shadow:0 1px 0 #000,0 -1px 0 #000,-1px 0 0 #000,1px 0 0 #000;font-size:13px;}
.battle .battle_user_info .left .icon_wrapper,.battle .battle_user_info .right .icon_wrapper{position:relative;}
.battle .battle_user_info .left .icon_wrapper:hover,.battle .battle_user_info .right .icon_wrapper:hover{-webkit-border-radius:5px;border-radius:5px;background-color:rgba(187,184,248,0.5)}
.battle .battle_user_info .left .icon_wrapper .pokemon_hp_background,.battle .battle_user_info .right .icon_wrapper .pokemon_hp_background{position:absolute;right:6px;bottom:2px;width:4px;height:3px;border:1px solid rgba(32,32,32,0.4);background:rgba(32,32,32,0.4);pointer-events:none}
.battle .battle_user_info .left .icon_wrapper .pokemon_hp,.battle .battle_user_info .right .icon_wrapper .pokemon_hp{position:absolute;bottom:0;left:0;right:0;}
.battle .battle_user_info .left .icon_wrapper .pokemon_hp.green,.battle .battle_user_info .right .icon_wrapper .pokemon_hp.green{background:#0f0}
.battle .battle_user_info .left .icon_wrapper .pokemon_hp.yellow,.battle .battle_user_info .right .icon_wrapper .pokemon_hp.yellow{background:#ff0}
.battle .battle_user_info .left .icon_wrapper .pokemon_hp.red,.battle .battle_user_info .right .icon_wrapper .pokemon_hp.red{background:#f00}
.battle .battle-timer{font-size:2em;}
.battle .battle-timer.battle-timer-low{color:#f33}
.battle .battle-timer.battle-timer-small{font-size:1em;}
.battle .battle-timer.battle-timer-small:before{content:'('}
.battle .battle-timer.battle-timer-small:after{content:')'}
.battle .battle_overlays{position:absolute;top:0;left:0;right:0;bottom:0;pointer-events:none;overflow:hidden;}
.battle .battle_overlays .battle_overlay{position:absolute;top:0;left:0;right:0;bottom:0;}
.battle .battle_overlays .battle_overlay.weather.rain{background:rgba(0,48,196,0.3)}
.battle .battle_overlays .battle_overlay.weather.hail{background:rgba(128,255,255,0.3)}
.battle .battle_overlays .battle_overlay.weather.sand{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(128,64,0,0.3)), color-stop(1, rgba(64,32,48,0.5)));background:-webkit-linear-gradient(top, rgba(128,64,0,0.3) 0, rgba(64,32,48,0.5) 100%);background:-moz-linear-gradient(top, rgba(128,64,0,0.3) 0, rgba(64,32,48,0.5) 100%);background:-o-linear-gradient(top, rgba(128,64,0,0.3) 0, rgba(64,32,48,0.5) 100%);background:-ms-linear-gradient(top, rgba(128,64,0,0.3) 0, rgba(64,32,48,0.5) 100%);background:linear-gradient(top, rgba(128,64,0,0.3) 0, rgba(64,32,48,0.5) 100%)}
.battle .battle_overlays .battle_overlay.weather.sun{opacity:.6 !important;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)" !important;filter:alpha(opacity=60) !important;background:rgba(255,196,64,0.3)}
.battle .battle_pane{position:absolute;width:400px;height:300px;top:0;left:100px;}
.battle .battle_pane .pokemon.bottom .pokemon-info{bottom:35%;left:200px}
.battle .battle_pane .pokemon.bottom .sprite.fade{position:absolute;left:-20px;opacity:.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter:alpha(opacity=30)}
.battle .battle_pane .pokemon.top .pokemon-info{top:20%;right:238px}
.battle .battle_pane .pokemon.top .sprite.fade{position:absolute;left:20px;opacity:.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter:alpha(opacity=30)}
.battle .battle_pane .pokemon-info{position:absolute;width:144px;height:6px;border:1px solid #fff;-webkit-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 0 0 1px #000;box-shadow:0 0 0 1px #000;background:rgba(0,8,32,0.5);}
.battle .battle_pane .pokemon-info .hp,.battle .battle_pane .pokemon-info .hp-gradient{position:absolute;top:0;left:0;bottom:0;width:100%;-webkit-transition:width .4s cubic-bezier(0,1,.5,1);-moz-transition:width .4s cubic-bezier(0,1,.5,1);-o-transition:width .4s cubic-bezier(0,1,.5,1);-ms-transition:width .4s cubic-bezier(0,1,.5,1);transition:width .4s cubic-bezier(0,1,.5,1)}
.battle .battle_pane .pokemon-info .hp-gradient{background:-webkit-gradient(linear, left top, left bottom, color-stop(0.4, transparent), color-stop(0.6, rgba(0,32,64,0.3)));background:-webkit-linear-gradient(top, transparent 40%, rgba(0,32,64,0.3) 60%);background:-moz-linear-gradient(top, transparent 40%, rgba(0,32,64,0.3) 60%);background:-o-linear-gradient(top, transparent 40%, rgba(0,32,64,0.3) 60%);background:-ms-linear-gradient(top, transparent 40%, rgba(0,32,64,0.3) 60%);background:linear-gradient(top, transparent 40%, rgba(0,32,64,0.3) 60%)}
.battle .battle_pane .pokemon-info .hp{background:#0f0}
.battle .battle_pane .pokemon-info .hp-text{position:absolute;top:-1px;bottom:-1px;left:100%;background:#333;color:#fff;font-size:8px;line-height:8px;padding:0 4px;-webkit-border-radius:0 2px 2px 0;border-radius:0 2px 2px 0;-webkit-box-shadow:0 0 0 1px #222;box-shadow:0 0 0 1px #222;font-family:Verdana,sans-serif}
.battle .battle_pane .pokemon-info .pokemon-meta{position:absolute;left:0;bottom:100%;color:#fff;pointer-events:visible;text-shadow:0 1px 0 #000,0 -1px 0 #000,-1px 0 0 #000,1px 0 0 #000}
.battle .battle_pane .pokemon-info .pokemon-name{font-weight:700;color:#fff}
.battle .battle_pane .pokemon-info .pokemon-level,.battle .battle_pane .pokemon-info .gender{font-size:75%}
.battle .battle_pane .pokemon-info .pokemon-level-text{color:#efa532}
.battle .battle_pane .pokemon-info .pokemon-effects{position:absolute;top:9px;color:#fff;font-family:'proxima-nova','Helvetica Neue',Calibri,'Droid Sans',Helvetica,Arial,sans-serif;}
.battle .battle_pane .pokemon-info .pokemon-effects .pokemon-effect{font-size:.625em;float:left;-webkit-border-radius:3px;border-radius:3px;background:#333;color:#fff;padding:0 4px;border:1px solid rgba(0,0,0,0.5);}
.battle .battle_pane .pokemon-info .pokemon-effects .pokemon-effect.sleep{background:#535}
.battle .battle_pane .pokemon-info .pokemon-effects .pokemon-effect.burn{background:#c33}
.battle .battle_pane .pokemon-info .pokemon-effects .pokemon-effect.freeze{background:#38b}
.battle .battle_pane .pokemon-info .pokemon-effects .pokemon-effect.paralyze{background:#b93}
.battle .battle_pane .pokemon-info .pokemon-effects .pokemon-effect.poison,.battle .battle_pane .pokemon-info .pokemon-effects .pokemon-effect.toxic{background:#b3b}
.battle .battle_pane .pokemon-info .pokemon-effects .pokemon-effect.boost{background:#5a3;}
.battle .battle_pane .pokemon-info .pokemon-effects .pokemon-effect.boost.negative{background:#a53}
.battle .battle_pane .sprite{position:absolute;top:0;left:0;pointer-events:visible;-webkit-transition:left 1s ease;-moz-transition:left 1s ease;-o-transition:left 1s ease;-ms-transition:left 1s ease;transition:left 1s ease;}
.battle .battle_pane .sprite img{position:absolute;max-width:none}
.battle .pokemon{position:absolute;width:100%;height:100%;top:0;left:0;pointer-events:none;overflow:hidden}
.battle .pokeball{position:absolute;background:url("//media.pokebattle.com/img/battle/pokeballs.gif") -133px -10px;-webkit-transition:opacity .25s ease-in;-moz-transition:opacity .25s ease-in;-o-transition:opacity .25s ease-in;-ms-transition:opacity .25s ease-in;transition:opacity .25s ease-in}
.battle .percentage{font-family:"Helvetica Neue",sans-serif;font-weight:700;padding:4px;-webkit-border-radius:3px;border-radius:3px;background:#4e4;-webkit-transition:left 5s linear;-moz-transition:left 5s linear;-o-transition:left 5s linear;-ms-transition:left 5s linear;transition:left 5s linear;color:#fff;border:1px solid rgba(0,0,0,0.3);-webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.3);box-shadow:2px 2px 2px rgba(0,0,0,0.3);}
.battle .percentage.red{background:#e44}
.battle .team-stealth-rock{position:absolute;background:url("//media.pokebattle.com/img/battle/stealth_rock.png");width:28px;height:35px;pointer-events:none}
.battle .team-toxic-spikes{position:absolute;background:url("//media.pokebattle.com/img/battle/toxic_spikes.png");width:21px;height:21px;pointer-events:none}
.battle .team-spikes{position:absolute;background:url("//media.pokebattle.com/img/battle/spikes.png");width:21px;height:21px;pointer-events:none}
.battle .team-sticky-web{position:absolute;background:url("//media.pokebattle.com/img/battle/sticky_web.png");width:150px;height:151px;pointer-events:none}
.battle .team-screen{position:absolute;opacity:.5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);width:1px;height:1px;pointer-events:none;}
.battle .team-screen.rounded{-webkit-border-radius:100%;border-radius:100%}
.battle .team-screen.blue{border:1px solid #2d6ce6;background-color:#6a97ed}
.battle .team-screen.yellow{border:1px solid #e4b512;background-color:#f0c944}
.battle .team-screen.pink{border:1px solid #ef68ef;background-color:#f7b5f7}
.battle .projectile{position:absolute;width:64px;height:64px;pointer-events:none;}
.battle .projectile.normal{background:radial-gradient(ellipse at center,#d4d2bd 0%,#a9a57a 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%)}
.battle .projectile.fire{background:radial-gradient(ellipse at center,#f1c2a1 0%,#e28544 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%)}
.battle .projectile.water{background:radial-gradient(ellipse at center,#b4cbf6 0%,#6a97ed 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%)}
.battle .projectile.electric{background:radial-gradient(ellipse at center,#f8e4a1 0%,#f0c944 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%)}
.battle .projectile.grass{background:radial-gradient(ellipse at center,#c7dfa9 0%,#8fc052 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%)}
.battle .projectile.ice{background:radial-gradient(ellipse at center,#d1e7e8 0%,#a2cfd0 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%)}
.battle .projectile.fighting{background:radial-gradient(ellipse at center,#de9b95 0%,#b04137 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%)}
.battle .projectile.poison{background:radial-gradient(ellipse at center,#caa7d1 0%,#9253a0 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%)}
.battle .projectile.ground{background:radial-gradient(ellipse at center,#eedfb7 0%,#dcbe6f 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%)}
.battle .projectile.flying{background:radial-gradient(ellipse at center,#d0cdf6 0%,#a09aee 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%)}
.battle .projectile.psychic{background:radial-gradient(ellipse at center,#f0b4c5 0%,#e0698b 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%)}
.battle .projectile.bug{background:radial-gradient(ellipse at center,#dfe28c 0%,#aeb22d 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%)}
.battle .projectile.rock{background:radial-gradient(ellipse at center,#dccf9f 0%,#b69d42 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%)}
.battle .projectile.ghost{background:radial-gradient(ellipse at center,#b4aecc 0%,#6a5f97 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%)}
.battle .projectile.dragon{background:radial-gradient(ellipse at center,#adacf8 0%,#5c59f1 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%)}
.battle .projectile.dark{background:radial-gradient(ellipse at center,#bba89b 0%,#685447 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%)}
.battle .projectile.steel{background:radial-gradient(ellipse at center,#dbdce7 0%,#b7bacf 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%)}
.battle .projectile.fairy{background:radial-gradient(ellipse at center,#fbdafb 0%,#f7b5f7 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%)}
.battle .battle_summary{position:absolute;bottom:0;left:100px;right:100px;background:rgba(0,0,0,0.5);color:#fff;display:none;text-shadow:none;padding:4px 10px;font-size:.875em;}
.battle .battle_summary p{margin:0;font-size:.8125em;}
.battle .battle_summary p.big{font-size:1em;margin-top:4px;}
.battle .battle_summary p.big:first-child{margin-top:0}
.battle .ability_activation{position:absolute;width:150px;background:rgba(0,0,0,0.5);text-align:center;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);color:#fff;text-shadow:0 1px 0 #000,0 -1px 0 #000,-1px 0 0 #000,1px 0 0 #000;pointer-events:none;}
.battle .ability_activation strong{font-size:1.2em;display:block}
.battle .ability_activation.front{-webkit-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px;top:64px;right:0}
.battle .ability_activation.back{-webkit-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0;bottom:64px;left:0}
.moves .button{display:block;float:none;margin:0 0 5px;}
.moves .button.hidden{display:none}
.switches .button{display:block;float:none;}
.switches .button.disabled .pokemon_icon{opacity:.5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50)}
.switches .button .pokemon_icon{display:block}
.mega-evolve{text-align:center;font-size:.8em}
.gender.gender_female{color:#ea597a}
.gender.gender_male{color:#62cbb0}
.team_icons{width:240px}
.pokemon_icon{position:relative;width:32px;height:32px;display:inline-block;margin:0 auto;background:url("//media.pokebattle.com/img/pokemon_icons_40px.png") top left;vertical-align:middle;}
.pokemon_icon.fainted{opacity:.5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50)}
.battle_teams{position:absolute;left:100px;right:100px;text-align:center;margin:0 auto;width:300px;font-family:'proxima-nova','Helvetica Neue',Calibri,'Droid Sans',Helvetica,Arial,sans-serif;}
.battle_teams li{position:relative}
.battle_teams .gender{position:absolute;top:0;right:2px;font-size:.75em;text-shadow:0 1px 0 #333}
.battle_teams .level{position:absolute;bottom:0;right:2px;font-size:.75em;line-height:.75em;text-shadow:0 1px 0 #fff,0 -1px 0 #fff,-1px 0 0 #fff,1px 0 0 #fff;font-family:"PT Sans Narrow","Helvetica Neue",sans-serif}
.battle_team_preview{background:#eee;padding:10px;-webkit-border-radius:4px;border-radius:4px;margin:10px 0;border:1px solid #aaa;}
.battle_team_preview .px_40,.battle_team_preview .sortable-placeholder{width:40px;margin:0 2px;padding-left:0;padding-right:0;float:left}
.battle_team_preview .submit_arrangement{margin:10px 0 0}
.battle_team_preview .team_pokemon{position:relative;width:40px;height:32px;margin:0 auto}
.battle_team_preview .arrange_team{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.battle_team_preview .arrange_team li{cursor:pointer;-webkit-border-radius:4px;border-radius:4px;}
.battle_team_preview .arrange_team li.img-polaroid.active{background-color:#ccc}
.battle_team_preview .lead_text{font-size:.8125em;min-height:0}
.battle_team_preview .pokemon_icon{top:0;left:0}
.battle_team_preview .sortable-placeholder{border:1px dashed #ccc;background:none;height:40px}
.battle_team_preview .unstyled{margin:0}
.well-battle-actions{font-size:1.5em;height:3em;line-height:3em;text-align:center}
.save-log{display:block;text-align:center}
.drop{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(106,151,237,0.7)), color-stop(1, rgba(255,255,255,0.3)));background:-webkit-linear-gradient(top, rgba(106,151,237,0.7) 0, rgba(255,255,255,0.3) 100%);background:-moz-linear-gradient(top, rgba(106,151,237,0.7) 0, rgba(255,255,255,0.3) 100%);background:-o-linear-gradient(top, rgba(106,151,237,0.7) 0, rgba(255,255,255,0.3) 100%);background:-ms-linear-gradient(top, rgba(106,151,237,0.7) 0, rgba(255,255,255,0.3) 100%);background:linear-gradient(top, rgba(106,151,237,0.7) 0, rgba(255,255,255,0.3) 100%);width:1px;height:89px;position:absolute;top:0;-webkit-transform:rotate(-20deg);-moz-transform:rotate(-20deg);-o-transform:rotate(-20deg);-ms-transform:rotate(-20deg);transform:rotate(-20deg);-webkit-animation:fall .63s linear infinite;-moz-animation:fall .63s linear infinite;-o-animation:fall .63s linear infinite;-ms-animation:fall .63s linear infinite;animation:fall .63s linear infinite}
.ray{position:absolute;background:rgba(230,192,70,0.5);width:60px;height:100%;-webkit-transition:all 1000ms ease;-moz-transition:all 1000ms ease;-o-transition:all 1000ms ease;-ms-transition:all 1000ms ease;transition:all 1000ms ease;-webkit-transform:rotate(360deg) skewX(30deg);-moz-transform:rotate(360deg) skewX(30deg);-o-transform:rotate(360deg) skewX(30deg);-ms-transform:rotate(360deg) skewX(30deg);transform:rotate(360deg) skewX(30deg);-webkit-animation:fade-in-out 3s ease infinite;-moz-animation:fade-in-out 3s ease infinite;-o-animation:fade-in-out 3s ease infinite;-ms-animation:fade-in-out 3s ease infinite;animation:fade-in-out 3s ease infinite}
.sand_overlay{position:absolute;top:0;left:0;background:url("//media.pokebattle.com/img/battle/weather_sand.png");width:600px;height:600px;opacity:.5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);-webkit-animation:sandstorm .75s linear infinite;-moz-animation:sandstorm .75s linear infinite;-o-animation:sandstorm .75s linear infinite;-ms-animation:sandstorm .75s linear infinite;animation:sandstorm .75s linear infinite}
.hailstone{position:absolute;-webkit-border-radius:4px;border-radius:4px;width:10px;height:10px;background:rgba(230,200,255,0.5);-webkit-animation:fall .4s linear infinite;-moz-animation:fall .4s linear infinite;-o-animation:fall .4s linear infinite;-ms-animation:fall .4s linear infinite;animation:fall .4s linear infinite}
@-moz-keyframes fall{100%{margin-top:600px;margin-left:216px}
}@-webkit-keyframes fall{100%{margin-top:600px;margin-left:216px}
}@-o-keyframes fall{100%{margin-top:600px;margin-left:216px}
}@-ms-keyframes fall{100%{margin-top:600px;margin-left:216px}
}@keyframes fall{100%{margin-top:600px;margin-left:216px}
}@-moz-keyframes fade-in-out{0%,100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
50%{opacity:.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter:alpha(opacity=30)}
}@-webkit-keyframes fade-in-out{0%,100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
50%{opacity:.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter:alpha(opacity=30)}
}@-o-keyframes fade-in-out{0%,100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
50%{opacity:.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter:alpha(opacity=30)}
}@-ms-keyframes fade-in-out{0%,100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
50%{opacity:.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter:alpha(opacity=30)}
}@keyframes fade-in-out{0%,100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
50%{opacity:.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter:alpha(opacity=30)}
}@-moz-keyframes sandstorm{0%{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-o-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}
100%{-webkit-transform:translate(200%,100%);-moz-transform:translate(200%,100%);-o-transform:translate(200%,100%);-ms-transform:translate(200%,100%);transform:translate(200%,100%)}
}@-webkit-keyframes sandstorm{0%{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-o-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}
100%{-webkit-transform:translate(200%,100%);-moz-transform:translate(200%,100%);-o-transform:translate(200%,100%);-ms-transform:translate(200%,100%);transform:translate(200%,100%)}
}@-o-keyframes sandstorm{0%{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-o-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}
100%{-webkit-transform:translate(200%,100%);-moz-transform:translate(200%,100%);-o-transform:translate(200%,100%);-ms-transform:translate(200%,100%);transform:translate(200%,100%)}
}@-ms-keyframes sandstorm{0%{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-o-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}
100%{-webkit-transform:translate(200%,100%);-moz-transform:translate(200%,100%);-o-transform:translate(200%,100%);-ms-transform:translate(200%,100%);transform:translate(200%,100%)}
}@keyframes sandstorm{0%{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-o-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}
100%{-webkit-transform:translate(200%,100%);-moz-transform:translate(200%,100%);-o-transform:translate(200%,100%);-ms-transform:translate(200%,100%);transform:translate(200%,100%)}
}.Team-Admin{border:1px solid #000;width:40%;margin-left:10px}
.teambuilder input,.teambuilder select{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:28px}
.arrow-up{width:0;height:0;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:12px solid #939393;position:absolute;left:88%;top:25%;}
.arrow-up:hover{border-bottom-color:#a8a8a8}
.arrow-up:active{border-bottom-color:#696969}
.arrow-down{width:0;height:0;border-left:7px solid transparent;border-right:7px solid transparent;border-top:12px solid #939393;position:absolute;left:88%;top:40%;}
.arrow-down:hover{border-top-color:#a8a8a8}
.arrow-down:active{border-top-color:#696969}
.teambuilder .selectize-input input{height:18px}
.teambuilder{position:absolute;top:0;bottom:0;left:0;right:0;}
.teambuilder select,.teambuilder input{margin-bottom:0 !important;width:100%}
.teambuilder .filter-tier-box{width:25px}
.teambuilder .meta-info{max-width:1368px}
.teambuilder .meta-info .left-side,.teambuilder .meta-info .right-side{float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.teambuilder .navigation{position:absolute;top:50px;bottom:0;background-color:rgba(223,231,232,0.5);width:160px;}
.teambuilder .navigation ul{list-style-type:none;padding:0;margin:0}
.teambuilder .navigation li,.teambuilder .navigation .nav-button{display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-left:1em;height:50px;line-height:50px;font-size:14px}
.teambuilder .navigation li:hover,.teambuilder .navigation .nav-button:hover{cursor:pointer;background-color:rgba(0,0,0,0.1)}
.teambuilder .navigation li.active{background-color:rgba(200,210,255,0.5)}
.teambuilder .navigation .pokemon_icon{float:none;display:inline-block;margin:0;vertical-align:middle}
.teambuilder .navigation .pokemon-pbv{margin-top:7px;font-size:.75em}
.teambuilder .navigation .pokemon-middle{line-height:50%;display:inline-block;vertical-align:middle}
.teambuilder  .meta-info .left-side{padding-left:180px;width:45%}
.teambuilder .meta-info .right-side{width:55%;padding-left:20px}
.teambuilder .species{float:left;width:180px;margin-left:-185px;}
.teambuilder .species .species_list{width:100%;}
.teambuilder .species .species_list .pbv{float:right;color:#888}
.teambuilder .shiny-switch{display:inline-block;width:14px;height:14px;margin-right:10px;margin-left:-24px;vertical-align:middle;cursor:pointer;background-image:URL('/Sprites/images/noshiny.png');-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;}
.teambuilder .shiny-switch.selected{background-image:URL('/Sprites/images/shiny.png')}
.teambuilder .happiness-switch{display:inline-block;position:relative;width:14px;height:14px;margin-left:10px;margin-right:-24px;cursor:pointer;vertical-align:middle;}
.teambuilder .happiness-switch:before,.teambuilder .happiness-switch:after{position:absolute;content:"";left:8px;top:0;width:8px;height:13px;background:#ff3c3c;-webkit-border-radius:7px 7px 0 0;border-radius:7px 7px 0 0;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:0 100%;-moz-transform-origin:0 100%;-o-transform-origin:0 100%;-ms-transform-origin:0 100%;transform-origin:0 100%}
.teambuilder .happiness-switch:after{left:0;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);-webkit-transform-origin:100% 100%;-moz-transform-origin:100% 100%;-o-transform-origin:100% 100%;-ms-transform-origin:100% 100%;transform-origin:100% 100%}
.teambuilder .happiness-switch:hover:before,.teambuilder .happiness-switch:hover:after{background:#d00}
.teambuilder .happiness-switch.selected:before,.teambuilder .happiness-switch.selected:after{background:#333}
.teambuilder .happiness-switch.selected:hover:before,.teambuilder .happiness-switch.selected:hover:after{background:#707070}
.teambuilder .team_meta{position:absolute;top:0;left:0;right:0;height:50px;line-height:50px;}
.teambuilder .team_meta .team_name{font-weight:700;font-size:1.5em;height:50px;line-height:50px;float:left;margin:0;width:auto;padding:0 .6666666666666666em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.teambuilder .team_meta .team_name:hover:not(:focus){text-decoration:underline;cursor:pointer}
.teambuilder .team_meta .team_meta_buttons{float:right;margin-top:7px;}
.teambuilder .team_meta .team_meta_buttons .button{float:left;margin-right:10px}
.teambuilder .meta-info .non-stats{display:table;width:100%;}
.teambuilder .meta-info .non-stats .teambuilder_row,.teambuilder .meta-info .non-stats .pbv-row{display:table-row;line-height:1.5em}
.teambuilder .meta-info .non-stats .teambuilder_col{display:table-cell;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:2em;margin:0;}
.teambuilder .meta-info .non-stats .teambuilder_col:first-child{text-align:right;padding-right:10px}
.teambuilder .meta-info .non-stats .pbv-row .left,.teambuilder .meta-info .non-stats .pbv-row .right{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:2em}
.teambuilder .meta-info .non-stats .non-stat-label{width:1px}
.teambuilder .stats{width:100%;margin-bottom:1.5em;}
.teambuilder .stats td,.teambuilder .stats th{text-align:left;padding-right:10px;white-space:nowrap;line-height:1.5em;height:1.5em}
.teambuilder .stats .stat-label,.teambuilder .stats .stat-total,.teambuilder .stats .base-stat{width:1px}
.teambuilder .stats td:first-child{text-align:right}
.teambuilder .stats input{width:100%;text-align:right}
.teambuilder .stats th.ev-cell,.teambuilder .stats th.iv-cell{text-align:right;padding-right:17px}
.teambuilder .stats td.ev-cell,.teambuilder .stats td.iv-cell{width:50px}
.teambuilder .stats .plus-nature{color:#38ab46;font-weight:bold}
.teambuilder .stats .minus-nature{color:#dc4e48}
.teambuilder .stats .remaining-evs{float:left}
.teambuilder .stats .hidden-power{float:right}
.teambuilder .stats .ev-lock{float:left;margin-right:5px;cursor:pointer;}
.teambuilder .stats .ev-lock .icon-lock{color:#444}
.teambuilder .stats .ev-lock .icon-unlocked{color:#888}
.teambuilder .stats .remaining-evs-amount.over-limit{color:#dc4e48;font-weight:bold}
.teambuilder select.select-hidden-power{width:auto}
.teambuilder .pokemon_edit{position:absolute;overflow:auto;left:150px;top:50px;bottom:0;right:0;background:#fff;padding:15px;overflow-y:scroll}
.teambuilder .forme-sprite-box{height:120px;line-height:120px;text-align:center;}
.teambuilder .forme-sprite-box .forme-sprite{display:inline-block}
.teambuilder .species-types{text-align:center;margin-bottom:5px;margin-top:50px;}
.teambuilder .species-types img{margin:0 2px}
.teambuilder .selected_moves .header{margin-bottom:8px}
.teambuilder .selected_moves .moves-label{font-weight:bold;font-size:2em;line-height:1em}
.teambuilder .selected_moves a{line-height:2em}
.teambuilder .selected_moves .move-button,.teambuilder .selected_moves input{display:block;margin:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:32px;}
.teambuilder .selected_moves .move-button .close,.teambuilder .selected_moves input .close{opacity:.4;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";filter:alpha(opacity=40);line-height:30px;width:20px;text-align:center;float:right}
.teambuilder .selected_moves .move-button .close:hover,.teambuilder .selected_moves input .close:hover,.teambuilder .selected_moves .move-button .close:focus,.teambuilder .selected_moves input .close:focus{opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);font-weight:bold}
.table-moves{border-collapse:separate;border:solid 1px #ddd;}
.table-moves thead th{background:#f5f5f5;border-bottom:solid 1px #ddd}
.table-moves tbody tr{cursor:pointer;}
.table-moves tbody tr td{border:1px solid transparent}
.table-moves tbody tr.active td{background:#f0f0f9;}
.table-moves tbody tr.active td:first-child{text-decoration:underline}
.table-moves tbody tr.selected td{background:#f0f0f9;}
.table-moves tbody tr.selected td:first-child{font-weight:bold}
.table-moves tbody tr img{margin-bottom:3px}
.table-moves .name{white-space:nowrap}
.teambuilder .table-moves{margin-top:8px}
.teambuilder .description{width:60%}
.teambuilder .display_teams{position:absolute;top:0;left:0;bottom:0;right:0;overflow:auto;}
.teambuilder .display_teams h2{margin-left:10px;margin-bottom:0}
.teambuilder .display_teams .select-team h2{-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width:192px;margin:0;font-size:1.5em}
.teambuilder .display_teams .add-new-team{margin:10px}
.teambuilder .display_teams .get-teams{margin:10px}
.teambuilder .display_teams .team-meta{font-size:.75em;text-align:right;margin-top:10px}
.teambuilder .display_teams .team-pbv{margin-top:-5px}
.teambuilder .display_teams .team-tier{margin-top:-5px}
textarea.textarea_modal{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;height:300px}
@media screen and (max-width: 1268px){.teambuilder .meta-info .left-side,.teambuilder .meta-info .right-side{display:block;width:100%}
.teambuilder .non-stats{margin:0 !important}
.teambuilder .meta-info .right-side{padding-left:0}
.teambuilder .stats{margin-top:1.5em}
}@media screen and (max-width: 1000px){.table-moves .description{display:none}
.teambuilder .selected_moves .span3{width:100%;margin-left:0}
}@media screen and (max-width: 800px){.teambuilder .navigation li,teambuilder .navigation .nav-button{float:left;width:16.666666666666668%;font-size:0;text-align:center}
.teambuilder .pokemon_edit{left:0;top:100px}
.teambuilder .navigation{width:100%}
}@media screen and (max-width: 600px){.teambuilder{overflow:auto;}
.teambuilder .team_meta{position:static;height:auto}
.teambuilder .navigation{position:static}
.teambuilder .pokemon_edit{position:static;overflow:visible}
textarea.textarea_modal{height:auto}
}@media screen and (max-width: 480px){.teambuilder .meta-info .left-side{padding-left:0}
.teambuilder .species,.teambuilder .non-stats{margin-left:0;width:100%;margin-bottom:1.5em}
.teambuilder .ev-range-cell{display:none}
.table-moves .pp,.table-moves .acc{display:none}
}.battle-list{position:absolute;top:0;bottom:0;left:0;right:0;overflow:auto;}
.battle-list h2{display:block;margin-left:10px}
.battle-list-collection{padding-right:10px;}
.battle-list-collection .empty{margin-left:10px}
.battle-list-item-wrapper{float:left;width:100%;padding-left:10px;padding-bottom:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.battle-list-item{cursor:pointer;border:1px solid #ddd;background:#f5f5f5;-webkit-box-shadow:1px 2px 0 rgba(0,0,0,0.2);box-shadow:1px 2px 0 rgba(0,0,0,0.2);padding:10px;}
.battle-list-item:hover{background:#fff}
.battle-list-item .vs{font-weight:bold;margin:0 5px}
@media screen and (min-width: 1000px){.battle-list-item-wrapper{width:50%}
}@media screen and (min-width: 1400px){.battle-list-item-wrapper{width:33%}
}@media screen and (min-width: 1800px){.battle-list-item-wrapper{width:25%}
}@media screen and (min-width: 2200px){.battle-list-item-wrapper{width:20%}
}@media screen and (min-width: 2600px){.battle-list-item-wrapper{width:16.6%}
}#messages{position:absolute;bottom:0;right:0;width:100%;font-size:.875em;}
#messages .popup{position:fixed;bottom:0;float:right;width:270px;margin-left:10px;-webkit-box-shadow:0 2px 6px rgba(0,0,0,0.2);box-shadow:0 2px 6px rgba(0,0,0,0.2);}
#messages .popup.new_message .title{background:#d94e47}
#messages .popup .popup_messages{background:#fff;height:270px;border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;overflow-y:scroll;line-height:1.3em;}
#messages .popup .popup_messages.small{height:150px}
#messages .popup .popup_messages p{margin:0 6px;overflow:hidden;word-wrap:break-word}
#messages .popup .popup_menu{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f0f0f0), color-stop(1, #eee));background:-webkit-linear-gradient(top, #f0f0f0 0, #eee 100%);background:-moz-linear-gradient(top, #f0f0f0 0, #eee 100%);background:-o-linear-gradient(top, #f0f0f0 0, #eee 100%);background:-ms-linear-gradient(top, #f0f0f0 0, #eee 100%);background:linear-gradient(top, #f0f0f0 0, #eee 100%);border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc}
#messages .popup .popup_menu_button{border-right:1px solid #ddd;float:left;padding:8px;cursor:pointer;}
#messages .popup .popup_menu_button:hover{background:#ddd}
#messages .popup .chat_input_pane{position:relative;background:#eee;height:36px;}
#messages .popup .chat_input_pane .chat_input_wrapper{padding:3px;border-left:1px solid #ccc;border-right:1px solid #ccc}
#messages .popup .title{background:#333;-webkit-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;padding:8px 0 8px 12px;color:#fff;}
#messages .popup .title.new{background:#d94e47}
#messages .popup .title_buttons{position:absolute;top:0;right:2px;}
#messages .popup .title_buttons .title_button{display:inline-block;cursor:pointer;padding:5px;margin:4px;}
#messages .popup .title_buttons .title_button:hover{background:#706666}
#messages .popup .title_buttons .icon-minus{position:relative;top:4px}
#messages .popup .challenge{background:#f0f0f0;border-right:1px solid #ccc;border-left:1px solid #ccc;border-bottom:1px solid #ccc;-webkit-transition:bottom .25s ease-out;-moz-transition:bottom .25s ease-out;-o-transition:bottom .25s ease-out;-ms-transition:bottom .25s ease-out;transition:bottom .25s ease-out;}
#messages .popup .challenge .challenge_data{padding:8px;}
#messages .popup .challenge .challenge_data .challenge_clauses{height:50px;overflow-y:auto}
#messages .popup .challenge .challenge_data p{margin:1em 0 0;}
#messages .popup .challenge .challenge_data p:first-child{margin-top:0}
#messages .popup .challenge .challenge_buttons{padding:8px;border-top:1px solid #ccc;}
#messages .popup .challenge .challenge_buttons .button{margin-right:8px}
.clearfix:before,.clearfix:after{content:"";display:table;line-height:0}
.clearfix:after{clear:both}
::selection{background:#f27405}
.select{cursor:pointer;border:1px solid #aaa;-webkit-border-radius:3px;border-radius:3px;background:#f0f0f0;padding:10px;}
.select:hover{background:#fff;border-color:#bbb}
.select.disabled{background:#ccc;cursor:auto}
.alt-input{width:100%;padding-right:130px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.alt-input .input-wrapper{width:100%;float:left;}
.alt-input .input-wrapper input{width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:38px;-webkit-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px;margin-bottom:0}
.alt-input .buttons-wrapper{margin-right:-130px;float:left;}
.alt-input .buttons-wrapper .button{float:left;width:65px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:38px;padding:0;-webkit-border-radius:0;border-radius:0;margin-left:-1px;margin-bottom:0}
.alt-input .buttons-wrapper .button:last-child{-webkit-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0}
.challenge_clauses{list-style:none;margin:0;}
.challenge_clauses input{vertical-align:top;margin-top:3px}
.challenge_clauses label{display:block;margin-bottom:0;}
.challenge_clauses label.disabled{cursor:not-allowed;color:#bbb}
.achievement img{float:left;width:75px}
.achievement h2{margin-top:0}
.achievement .achievement-info{padding-left:90px}
#achievements-modal{border:none;-webkit-animation:achievement-glow 2s infinite;-moz-animation:achievement-glow 2s infinite;-o-animation:achievement-glow 2s infinite;-ms-animation:achievement-glow 2s infinite;animation:achievement-glow 2s infinite}
@-moz-keyframes achievement-glow{0%{-webkit-box-shadow:1px 1px 30px 2px #4eabda;box-shadow:1px 1px 30px 2px #4eabda}
50%{-webkit-box-shadow:1px 1px 45px 2px #71bce1;box-shadow:1px 1px 45px 2px #71bce1}
100%{-webkit-box-shadow:1px 1px 30px 2px #4eabda;box-shadow:1px 1px 30px 2px #4eabda}
}@-webkit-keyframes achievement-glow{0%{-webkit-box-shadow:1px 1px 30px 2px #4eabda;box-shadow:1px 1px 30px 2px #4eabda}
50%{-webkit-box-shadow:1px 1px 45px 2px #71bce1;box-shadow:1px 1px 45px 2px #71bce1}
100%{-webkit-box-shadow:1px 1px 30px 2px #4eabda;box-shadow:1px 1px 30px 2px #4eabda}
}@-o-keyframes achievement-glow{0%{-webkit-box-shadow:1px 1px 30px 2px #4eabda;box-shadow:1px 1px 30px 2px #4eabda}
50%{-webkit-box-shadow:1px 1px 45px 2px #71bce1;box-shadow:1px 1px 45px 2px #71bce1}
100%{-webkit-box-shadow:1px 1px 30px 2px #4eabda;box-shadow:1px 1px 30px 2px #4eabda}
}@-ms-keyframes achievement-glow{0%{-webkit-box-shadow:1px 1px 30px 2px #4eabda;box-shadow:1px 1px 30px 2px #4eabda}
50%{-webkit-box-shadow:1px 1px 45px 2px #71bce1;box-shadow:1px 1px 45px 2px #71bce1}
100%{-webkit-box-shadow:1px 1px 30px 2px #4eabda;box-shadow:1px 1px 30px 2px #4eabda}
}@keyframes achievement-glow{0%{-webkit-box-shadow:1px 1px 30px 2px #4eabda;box-shadow:1px 1px 30px 2px #4eabda}
50%{-webkit-box-shadow:1px 1px 45px 2px #71bce1;box-shadow:1px 1px 45px 2px #71bce1}
100%{-webkit-box-shadow:1px 1px 30px 2px #4eabda;box-shadow:1px 1px 30px 2px #4eabda}
}@media screen and (max-width: 319px){#logo{visibility:hidden}
}@media screen and (max-width: 480px){.modal{top:10px;left:10px;right:10px}
.modal-header .close{padding:10px;margin:-10px}
}@media screen and (max-width: 640px){.popover{display:none !important}
#main-nav{padding:0}
#logo{float:none;margin:0 auto !important}
#sections{visibility:hidden}
#leftmenu{display:block;width:0}
#navigation{display:none;top:52px;z-index:100}
#navigation .logo{display:none}
#navigation.active{display:block;-webkit-animation:slidenav .3s;-moz-animation:slidenav .3s;-o-animation:slidenav .3s;-ms-animation:slidenav .3s;animation:slidenav .3s}
#content{left:0}
@-moz-keyframes slidenav{0%{left:-100%}
100%{left:0}
}@-webkit-keyframes slidenav{0%{left:-100%}
100%{left:0}
}@-o-keyframes slidenav{0%{left:-100%}
100%{left:0}
}@-ms-keyframes slidenav{0%{left:-100%}
100%{left:0}
}@keyframes slidenav{0%{left:-100%}
100%{left:0}
}}@media screen and (max-width: 767px){.chat_window .main_buttons{width:100%;padding:10px}
.chat_window .chat{display:none}
.modal{position:fixed;top:20px;left:20px;right:20px;width:auto;margin:0;}
.modal.fade{top:-100px}
.modal.fade.in{top:20px}
.battle_window .battle{width:420px;margin:0 auto;right:0;padding:10px 0 0}
.battle_window .battle_summary{bottom:50px;left:0;right:0}
.battle_window .battle_container{width:400px;height:400px;margin:0 auto}
.battle_window .battle_pane{left:0;top:50px}
.battle_window .battle_teams{left:50px;right:50px;top:50px}
.battle_window .battle_user_info .left{bottom:0}
.battle_window .battle_user_info .right{top:0}
.battle_window .battle_user_info .left,.battle_window .battle_user_info .right{width:100%;left:0;}
.battle_window .battle_user_info .left .battle-timer,.battle_window .battle_user_info .right .battle-timer{display:inline-block;margin-right:10px}
.battle_window .battle_user_info .left .pokemon_icons,.battle_window .battle_user_info .right .pokemon_icons{display:inline-block;vertical-align:bottom;width:auto;position:relative;top:-4px;}
.battle_window .battle_user_info .left .pokemon_icons .icon_wrapper:nth-child(even),.battle_window .battle_user_info .right .pokemon_icons .icon_wrapper:nth-child(even){top:0}
.battle_window .moves.span8,.battle_window .switches.span4{width:100%;margin-left:0}
}@media screen and (max-width: 980px){.battle_window .chat{display:none}
}