﻿head
  link(href='/css/tiers.css', rel='stylesheet')
div
    table.table.headerTable
      tr.row.header.fixed
        th.th.td.dexno#dexno
          | Dex No.
        th.th.td#species
          | Species
        th.td#forme
          | Forme
        th.td.tier#tier
          | Tier
        th.td.type#types
          | Types
        th.td.type.empty
        th.td.abilities#abilities
          | Abilities
        th.td.abilities#HA
          | HA
        th.td.allstat#HP
          | HP
        th.td.allstat#att
          | Att
        th.td.allstat#def
          | Def
        th.td.allstat#spatt
          | Sp.Att
        th.td.allstat#spdef
          | Sp.Def
        th.td.allstat#speed
          | Speed
        th.td.release#release
          | Released

  .wrapper
    table.table.list

select#tierFilter(onchange="filterTier(this)")
  option Filter Tier


script(type='text/javascript', src="/js/underscore-min.js")      
script(type='text/javascript', src="/js/jquery.js")      
script(type='text/javascript').
    var species_data =!{JSON.stringify(species)}
    var formes_data =!{JSON.stringify(formes)}
script(type='text/javascript', src="/js/tiers.js")
